* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body, html {
	background-image: url("../img/main.page.png");
	/* background-image: url("./תמונות/רקע.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	height: 100%;
    margin: 0;
}
a {
    color: #deac8e;
}
 
a:hover {
    color: #ead4c7;
}
 
a:active {
    color: #000000;
}

po {
    margin: auto;
    color: #f520d8;
    font-weight: bold;
    font-size: 20px;
}

pi {
    margin: auto;
    color: #f520d8;
    font-size: 15px;
} 
.form {
    width: 520px;
    position: relative;
    border: 3px solid #000000;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 40px 11px #000000;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;  
    margin-right: 10%;
    top: 25%;
    border-radius: 10px;
    margin-top: 0%;
}
 
.form input {
    width: 320px;
    border: 2px solid #000000;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
}

.form .submit {
    width: 320px;
    background-color: #000000;
    border: 0;
    border-radius: 6px;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.form .submit:hover {
    background-color: #000000;
}

.form .submit:active {
    background-color: #000000;
}
#userNewPassword{
    display: none;
}